@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@theme {
    --font-lexend: 'Lexend', sans-serif;
    --text-title: 3vh ;
    --text-subtitle: 2vh;
    --text-body: 1.75vh ;
    --text-mobile: 2.5vw ;
}
@import "tailwindcss";